<div class="container-fluid">
  <div class="col-md-10">
    <!-- general form elements -->
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Add User</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
      <!-- form start -->
        <form [formGroup]="Formuseradd">
          <!-- <div class="errors" *ngIf="registrationFG.invalid&&registrationFG.touched">Plse File The Requir</div> -->

          <div class="form-group">
            <label >Name</label>
            <input type="text" class="form-control"  placeholder="Enter Your Name" name="name" formControlName="name">
            <!-- <span *ngIf="Formuseradd.get('name')?.error"></span> -->
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Birthdate</label>
            <input type="text" class="form-control" placeholder="Enter Your Birthdate" name="birthdate" formControlName="birthdate">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Email</label>
            <input type="text" class="form-control" placeholder="Enter Your Email" name="email" formControlName="email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Phone</label>
            <input type="text" class="form-control" placeholder="Enter Your Phone" name="phone" formControlName="phone">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Address</label>
            <input type="text" class="form-control" placeholder="Enter Your Address" name="address" formControlName="address">
            <!-- <span *ngIf="registrationFG.invalid"></span> -->
          </div>
          <button class="btn btn-primary" type="button" (click)="onsubmit()">Create</button>
          <!-- <span *ngIf="registrationFG"></span> -->
        </form>
      </div>
    </div>
  </div>
</div>
