<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">File Data Table</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let file of filedata; let i=index;">
            <td>{{file.id}}</td>
            <td>{{file.name}}</td>
            <td>{{file.description}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
