<div class="col-md-12">
  <div *ngIf="isLodding" class="d-flex justify-content-center">
    <!-- <div class="spinner-border" role="status"> -->
      <!-- <span class="sr-only">Loading...</span> -->
      <img src="/assets/12-unscreen.gif">
    <!-- </div> -->
  </div>
  <div *ngIf="!isLodding && user?.length > 0" class="card">
    <div class="card-header d-flex fl-a">
      <h3 class="card-title fl-a">User Data Table</h3>
      <div class="card-tools">
        <div class="input-group input-group-sm">
          <button class="btn btn-success m-2 costm" routerLink="/users/add"><i class="fa-solid fa-user-plus"></i></button>
          <button class="btn btn-danger m-2 costm" (click)="deleteItemSelected()"> Delete </button>
        </div>
      </div>

    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <!-- <button class="btn btn-success m-2 costm" routerLink="/users/add"><i class="fa-solid fa-user-plus"></i></button>
      <button class="btn btn-danger m-2 costm" (click)="deleteItemSelected()"> Delete </button> -->
      <table class="table table-hover table-bordered" style="text-align: center;">
        <thead>
          <tr>
            <th>
              <input type="checkbox" (click)="toggleCheckboxAll($event.target.checked)"/>
            </th>
            <th>avatar</th>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>actions
              <!-- <button class="btn btn-success mr-2 ml-2" routerLink="/users/add"><i class="fa-solid fa-user-plus"></i></button>
              <button class="btn btn-danger" (click)="deleteItemSelected()"> Delete </button> -->
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of user; let i=index;">
            <td><input type="checkbox" (click)="toggleCheckbox($event.target.checked,i)" [checked]="itemChecked[i]"/></td>
            <td><img src="{{user.avatar}}" width="50"></td>
            <td>{{user.id}}</td>
            <td>{{user.first_name}} {{user.last_name}}</td>
            <td>{{user.email}}</td>
            <td>
              <div class="btn-group mr-2">
                <a class="btn btn-warning btn-xs" [routerLink]="['/users/edit',user.id]"><i class="fa-solid fa-edit"></i></a>
              </div>
              <div class="btn-group mr-2">
                <button class="btn btn-danger btn-xs" (click)="onRemove(user.id)"><i class="fa-solid fa-trash"></i></button>
              </div>
              <div class="btn-group mr-2">
                <button class="btn btn-info btn-xs" [routerLink]="['/users/details',user.id]"><i class="fa-solid fa-address-card"></i></button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col-sm-12 col-md-5">
          <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">Page: {{page}} of {{total_pages}} Pages</div>
        </div>
        <div class="col-sm-12 col-md-7">
          <nav aria-label="Page navigation example" *ngIf="!isLodding && user?.length > 0">
            <ul class="pagination justify-content-end">
              <li [ngClass]="page===1 ? 'page-item disabled' : 'page-item pg-dark'">
                <button [disabled]="page===1" class="page-link" aria-label="Previous" (click)="previous()">
                  <span aria-hidden="true">&laquo;</span>
                </button>
              </li>
              <li class="page-item" [class.disabled]="page===pg" *ngFor="let pg of total_pagesAr">
                <button class="page-link" [disabled]="page===pg" (click)="goToPage(pg)">{{pg}}</button>
              </li>
              <li [ngClass]="page===total_pages ? 'page-item disabled' : 'page-item'">
                <button [class.disabled]="page===total_pages" class="page-link" aria-label="Next" [disabled]="page===total_pages" (click)="next()">
                  <span aria-hidden="true">&raquo;</span>
                </button>
              </li>
            </ul>
          </nav>
        </div>
      </div>

    </div>

    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
