  <app-education-add [formData]="formData" (onUpdate)="onFormUpdate($event)"  *ngIf="showAddFormStatus"></app-education-add>

<section class="content">
  <div class="container-fluid">
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Educations</h3>

        <div class="card-tools">
          <div class="input-group input-group-sm" style="width: 250px;">
            <button class="btn" (click)="toggleAddForm()">
              <i class="fas fa-plus"></i>
          </button>
            <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

            <div class="input-group-append">
              <button type="submit" class="btn btn-default">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap">
          <thead>
            <tr>
              <th>ID</th>
              <th>Major</th>
              <th>Country</th>
              <th>City</th>
              <th>University</th>
              <th>Start</th>
              <th>End</th>
              <th>Present Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of data; let i=index;">
              <td>{{item.id}}</td>
              <td>{{item.majorId }}</td>
              <td>{{item.countryId}}</td>
              <td>{{item.cityId}}</td>
              <td>{{item.universityId}}</td>
              <td>{{item.startDate}}</td>
              <td>{{item.endDate}}</td>
              <td>{{item.presentStatus}}</td>
              <td>
                <button class="btn  btn-sm" (click)="onEdite(i)">
                    <i class="fas fa-edit"></i>
                </button>
                <button class="btn  btn-sm" (click)="onDelete(i)">
                    <i class="fas fa-trash"></i>
                </button>

              </td>
            </tr>


          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>
  </div>
</section>
